<title>{{title}}</title>
<meta charset="utf-8">
{{#unless isBuild}}
<meta name="robots" content="noindex, nofollow">
{{/unless}}
<meta name="description" content="{{meta.description}}">
<meta name="keywords" content="{{meta.keywords}}">
<meta name="viewport" content="{{meta.viewport}}">
<meta name="apple-mobile-web-app-title" content="{{meta.apple-mobile-web-app-title}}">
<meta name="twitter:card" content="{{twitter.card}}">
<meta name="twitter:url" content="{{twitter.url}}">
<meta name="twitter:title" content="{{twitter.title}}">
<meta name="twitter:description" content="{{twitter.description}}">
<meta name="twitter:image" content="{{path.media}}/image/{{twitter.image}}">
<meta property="og:title" content="{{og.title}}">
<meta property="og:type" content="{{og.type}}">
<meta property="og:url" content="{{og.url}}">
<meta property="og:image" content="{{path.media}}/image/{{og.image}}">
<meta property="og:site_name" content="{{og.site_name}}">
<meta property="og:description" content="{{og.site_name}}">
<meta property="og:locale" content="{{og.site_name}}">
<meta property="fb:admins" content="{{fb.admins}}">
<meta property="fb:app_id" content="{{fb.app_id}}">
<link rel="icon" type="image/x-icon" href="{{path.media}}/image/{{link.favicon}}">
<link rel="apple-touch-icon-precomposed" href="{{path.media}}/image/{{link.apple-touch-icon-precomposed}}">
<link rel="author" href="{{link.author}}">
<link rel="stylesheet" type="text/css" media="all" href="{{path.media}}/style/global.css">
