<!DOCTYPE html>
<html id="toolkit-colors" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div id="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header>
                <button aria-expanded="false">main menu toggle</button>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <div class="sticky-1">
                <div class="sticky-1-wrapper">
                    <nav tabindex="-1">
                        <div class="row collapse">
                            <ul class="small-12 columns">
                                <li><a href="{{www}}toolkit">Home</a></li>
                                <li><a href="{{www}}toolkit/layouts.html">Layouts</a></li>
                                <li><a class="selected" href="{{www}}toolkit/colors.html">Colors</a></li>
                                <li><a href="{{www}}toolkit/type.html">Type</a></li>
                                <li><a href="{{www}}toolkit/sprites.html">Sprites</a></li>
                                <li><a href="{{www}}toolkit/elements.html">Elements</a></li>
                                <li><a href="{{www}}toolkit/components.html">Components</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <main id="main" tabindex="-1">
                <section>
                    <h1>Colors</h1>
                    <div class="row">
                        <div class="small-12 columns">
                            <p>style: <a href="{{webRepo}}app/assets/style/base/colors/_colors.scss">_colors.scss</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>black-1</strong>
                            <p><span class="swatch black-1"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>grey-1</strong>
                            <p><span class="swatch grey-1"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>grey-2</strong>
                            <p><span class="swatch grey-2"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>grey-3</strong>
                            <p><span class="swatch grey-3"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>grey-4</strong>
                            <p><span class="swatch grey-4"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>grey-5</strong>
                            <p><span class="swatch grey-5"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>grey-6</strong>
                            <p><span class="swatch grey-6"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>white-1</strong>
                            <p><span class="swatch white-1"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <strong>red-1</strong>
                            <p><span class="swatch red-1"></span></p>
                        </div>
                    </div>
                </section>
            </main>

            {{>toolkit/footer-1}}

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
