<!DOCTYPE html>
<html id="toolkit-colors" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div id="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header>
                <button aria-expanded="false">main menu toggle</button>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <div class="sticky-1">
                <div class="sticky-1-wrapper">
                    <nav tabindex="-1">
                        <a href="{{www}}toolkit">Home</a>
                        <a href="{{www}}toolkit/layouts.html">Layouts</a>
                        <a class="selected" href="{{www}}toolkit/colors.html">Colors</a>
                        <a href="{{www}}toolkit/type.html">Type</a>
                        <a href="{{www}}toolkit/sprites.html">Sprites</a>
                        <a href="{{www}}toolkit/elements.html">Elements</a>
                        <a href="{{www}}toolkit/components.html">Components</a>
                    </nav>
                </div>
            </div>

            <main id="main" tabindex="-1">
                <section>
                    <h1>Colors</h1>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>Blacks</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>black-1</h3>
                            <p><span class="swatch black-1"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <h4>Source Code</h4>
                            <ul class="list-1">
                                <li>style: <a href="{{webRepo}}app/assets/style/base/colors/_colors.scss">_colors.scss</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>Greys</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>grey-1</h3>
                            <p><span class="swatch grey-1"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>grey-2</h3>
                            <p><span class="swatch grey-2"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>grey-3</h3>
                            <p><span class="swatch grey-3"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>grey-4</h3>
                            <p><span class="swatch grey-4"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>grey-5</h3>
                            <p><span class="swatch grey-5"></span></p>
                        </div>
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>grey-6</h3>
                            <p><span class="swatch grey-6"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <h4>Source Code</h4>
                            <ul class="list-1">
                                <li>style: <a href="{{webRepo}}app/assets/style/base/colors/_colors.scss">_colors.scss</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>Whites</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>white-1</h3>
                            <p><span class="swatch white-1"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <h4>Source Code</h4>
                            <ul class="list-1">
                                <li>style: <a href="{{webRepo}}app/assets/style/base/colors/_colors.scss">_colors.scss</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>reds</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 large-2 columns">
                            <h3>red-1</h3>
                            <p><span class="swatch red-1"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <h4>Source Code</h4>
                            <ul class="list-1">
                                <li>style: <a href="{{webRepo}}app/assets/style/base/colors/_colors.scss">_colors.scss</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>

            <hr>

            {{>toolkit/footer-1}}

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
