<!DOCTYPE html>
<html id="toolkit" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div id="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <nav>
                <div class="row collapse">
                    <ul class="small-12 columns">
                        <li><a class="selected" href="{{www}}toolkit">Home</a></li>
                        <li><a href="{{www}}toolkit/grid.html">Grid</a></li>
                        <li><a href="{{www}}toolkit/colors.html">Colors</a></li>
                        <li><a href="{{www}}toolkit/text.html">Text</a></li>
                        <li><a href="{{www}}toolkit/sprite.html">Sprite</a></li>
                        <li><a href="{{www}}toolkit/elements.html">Elements</a></li>
                        <li><a href="{{www}}toolkit/components.html">Components</a></li>
                    </ul>
                </div>
            </nav>

            <main id="main" tabindex="-1">
                <section class="row">
                    <div class="medium-12 columns">
                        <h1>Overview</h1>
                        <h2>Project</h2>
                        <ul>
                            <li><a href="https://github.com/bshack/shackstack/blob/master/README.md">documentation</a></li>
                            <li><a href="https://github.com/bshack/shackstack">repository</a></li>
                            <li><a href="https://github.com/bshack/shackstack/issues">bug tracker</a></li>
                        </ul>
                        <h2>Reporting</h2>
                        <ul>
                            <li><a href="/report/istanbul">unit test coverage</a></li>
                            <li><a href="/report/plato">code complexity</a></li>
                        </ul>
                        <hr>
                        <h2>Browser Support</h2>
                        <p><em>All browser support is for the latest versions except where noted.</em></p>
                        <h3>Windows</h3>
                        <ul>
                            <li>Edge</li>
                            <li>Internet Explorer</li>
                            <li>Firefox</li>
                            <li>Chrome</li>
                        </ul>
                        <h3>OS X</h3>
                        <ul>
                            <li>Safari</li>
                            <li>Firefox</li>
                            <li>Chrome</li>
                        </ul>
                        <h3>iOS</h3>
                        <ul>
                            <li>Safari</li>
                        </ul>
                        <h3>Android</h3>
                        <ul>
                            <li>Chrome</li>
                        </ul>
                        <hr>
                        <h2>Screen Reader &amp; Browser Combination Support</h2>
                        <p><em>All screen reader &amp; browser combinations support are for the latest versions except where noted.</em></p>
                        <h3>Windows</h3>
                        <ul>
                            <li>JAWS &amp; Internet Explorer (11)</li>
                            <li>NVDA &amp; Firefox</li>
                        </ul>
                        <h3>OS X</h3>
                        <ul>
                            <li>Voiceover &amp; Safari</li>
                        </ul>
                        <h3>iOS</h3>
                        <ul>
                            <li>Voiceover &amp; Safari</li>
                        </ul>
                        <h3>Android</h3>
                        <ul>
                            <li>Talkback &amp; Firefox</li>
                        </ul>
                    </div>
                </section>
            </main>

            <footer>
            </footer>

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
