<!DOCTYPE html>
<html id="toolkit" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div id="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header>
                <button>menu</button>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <div class="sticky-1">
                <div class="sticky-1-wrapper">
                    <nav>
                        <div class="row collapse">
                            <ul class="small-12 columns">
                                <li><a class="selected" href="{{www}}toolkit">Home</a></li>
                                <li><a href="{{www}}toolkit/grids.html">Grids</a></li>
                                <li><a href="{{www}}toolkit/panels.html">Panels</a></li>
                                <li><a href="{{www}}toolkit/colors.html">Colors</a></li>
                                <li><a href="{{www}}toolkit/type.html">Type</a></li>
                                <li><a href="{{www}}toolkit/sprites.html">Sprites</a></li>
                                <li><a href="{{www}}toolkit/elements.html">Elements</a></li>
                                <li><a href="{{www}}toolkit/components.html">Components</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <main id="main" tabindex="-1">
                <section>
                    <div class="row">
                        <div class="small-12 columns">
                            <h1>Overview</h1>
                            <h2>Project</h2>
                            <ul>
                                <li><a href="{{webRepo}}README.md">documentation</a></li>
                                <li><a href="{{webRepo}}">repository</a></li>
                                <li><a href="https://github.com/bshack/shackstack/issues">bug tracker</a></li>
                            </ul>
                            <h2>Reporting</h2>
                            <ul>
                                <li><a href="/report/istanbul">unit test coverage</a></li>
                                <li><a href="/report/plato">code complexity</a></li>
                            </ul>
                            <hr>
                        </div>
                        <div class="small-12 columns">
                            <h2>Browser &amp; Screen Reader Support</h2>
                            <p><em>All support is for the latest versions except where noted.</em></p>
                            <table class="table-1">
                                <caption>browser and screen reader support matrix</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">operating system</th>
                                        <th scope="col">web browser</th>
                                        <th scope="col">screen reader</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Windows</th>
                                        <td>
                                            Edge
                                            <br>Internet Explorer
                                            <br>Firefox
                                            <br>Chrome
                                        </td>
                                        <td>
                                            JAWS w/ Internet Explorer (11)
                                            <br>NVDA w/ Firefox
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Mac OS X
                                        </th>
                                        <td>
                                            Firefox
                                            <br>Chrome
                                            <br>Safari
                                        </td>
                                        <td>Voiceover w/ Safari</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            iOS
                                        </th>
                                        <td>
                                            Safari
                                        </td>
                                        <td>
                                            Voiceover w/ Safari
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Android
                                        </th>
                                        <td>
                                            Chrome
                                        </td>
                                        <td>
                                            Talkback w/ Firefox
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </main>

            {{>toolkit/footer-1}}

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
