<!DOCTYPE html>
<html id="toolkit" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div id="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header class="toolkit-header-1">
                <button aria-expanded="false">main menu toggle</button>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <div class="sticky-1">
                <div class="sticky-1-wrapper">
                    <nav class="toolkit-nav-1" tabindex="-1">
                        <a class="selected" href="{{www}}toolkit">Home</a>
                        <a href="{{www}}toolkit/layouts.html">Layouts</a>
                        <a href="{{www}}toolkit/colors.html">Colors</a>
                        <a href="{{www}}toolkit/type.html">Type</a>
                        <a href="{{www}}toolkit/sprites.html">Sprites</a>
                        <a href="{{www}}toolkit/elements.html">Elements</a>
                        <a href="{{www}}toolkit/components.html">Components</a>
                    </nav>
                </div>
            </div>

            <main id="main" tabindex="-1">
                <section>
                    <h1 class="toolkit-heading-1">Overview</h1>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2 class="toolkit-heading-2">Project</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <ul class="list-1">
                                <li><a href="{{webRepo}}README.md">documentation</a></li>
                                <li><a href="{{webRepo}}">repository</a></li>
                                <li><a href="https://github.com/bshack/shackstack/issues">bug tracker</a></li>
                            </ul>
                        </div>
                        <div class="small-12 medium-6 columns">
                            <ul class="list-1">
                                <li><a href="/report/istanbul">unit test coverage</a></li>
                                <li><a href="/report/plato">code complexity</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="toolkit-rule-1">
                    <div class="row">
                        <div class="small-12 columns">
                            <h2 class="toolkit-heading-2">Browser &amp; Screen Reader Support</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <table class="table-1">
                                <caption>browser and screen reader support matrix, all versions current release</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">operating system</th>
                                        <th scope="col">web browser</th>
                                        <th scope="col">screen reader</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Windows</th>
                                        <td>
                                            Edge
                                            <br>Internet Explorer
                                            <br>Firefox
                                            <br>Chrome
                                        </td>
                                        <td>
                                            JAWS w/ Internet Explorer
                                            <br>NVDA w/ Firefox
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Mac OS X
                                        </th>
                                        <td>
                                            Firefox
                                            <br>Chrome
                                            <br>Safari
                                        </td>
                                        <td>Voiceover w/ Safari</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            iOS
                                        </th>
                                        <td>
                                            Safari
                                        </td>
                                        <td>
                                            Voiceover w/ Safari
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Android
                                        </th>
                                        <td>
                                            Chrome
                                        </td>
                                        <td>
                                            Talkback w/ Firefox
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </main>

            <hr class="toolkit-rule-1">

            {{>toolkit/footer-1}}

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
