<!DOCTYPE html>
<html id="toolkit-components" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div class="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header>
                <button>menu</button>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <div class="sticky-1">
                <div class="sticky-1-wrapper">
                    <nav>
                        <div class="row collapse">
                            <ul class="small-12 columns">
                                <li><a href="{{www}}toolkit">Home</a></li>
                                <li><a href="{{www}}toolkit/grids.html">Grids</a></li>
                                <li><a class="selected" href="{{www}}toolkit/panels.html">Panels</a></li>
                                <li><a href="{{www}}toolkit/colors.html">Colors</a></li>
                                <li><a href="{{www}}toolkit/type.html">Type</a></li>
                                <li><a href="{{www}}toolkit/sprites.html">Sprites</a></li>
                                <li><a href="{{www}}toolkit/elements.html">Elements</a></li>
                                <li><a href="{{www}}toolkit/components.html">Components</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <main id="main" tabindex="-1">
                <section>
                    <div class="row">
                        <div class="small-12 columns">
                            <h1>Panels</h1>
                            <h2>panels-1</h2>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/_panels.scss">_panels.scss</a></p>
                            <p>script: <a href="{{webRepo}}app/assets/script/view/toolkit/panels-1.js">panels-1.js</a></p>
                        </div>
                    </div>
                    <div class="panels-1">
                        <section class="panel panel-1 panel-scrollable">
                            <div class="panel-content">
                                panel 1
                            </div>
                        </section>
                        <section class="panel panel-2">
                            <div class="panel-content">
                                panel 2
                            </div>
                        </section>
                        <section class="panel panel-3">
                            <div class="panel-content">
                                panel 3
                            </div>
                        </section>
                        <section class="panel panel-4">
                            <div class="panel-content">
                                panel 4
                            </div>
                        </section>
                        <section class="panel panel-5">
                            <div class="panel-content">
                                panel 5
                            </div>
                        </section>
                        <section class="panel panel-6">
                            <div class="panel-content">
                                panel 6
                            </div>
                        </section>
                    </div>
                </section>
            </main>

            {{>toolkit/footer-1}}

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
