<!DOCTYPE html>
<html id="toolkit-text" lang="en-us" dir="ltr">
    {{> tags/head secondaryCSS='toolkit'}}
    <body itemscope itemtype="http://schema.org/WebPage">

        <div id="wrapper">

            {{>toolkit/accessibility-skip-to-element-1 id='skip-to-content' url='#main' title='skip to content'}}

            <header>
                <button aria-expanded="false">main menu toggle</button>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="{{www}}toolkit">Toolkit</a>
                    </div>
                </div>
            </header>

            <div class="sticky-1">
                <div class="sticky-1-wrapper">
                    <nav tabindex="-1">
                        <a href="{{www}}toolkit">Home</a>
                        <a href="{{www}}toolkit/layouts.html">Layouts</a>
                        <a href="{{www}}toolkit/colors.html">Colors</a>
                        <a class="selected" href="{{www}}toolkit/type.html">Type</a>
                        <a href="{{www}}toolkit/sprites.html">Sprites</a>
                        <a href="{{www}}toolkit/elements.html">Elements</a>
                        <a href="{{www}}toolkit/components.html">Components</a>
                    </nav>
                </div>
            </div>

            <main id="main" tabindex="-1">
                <section>
                    <h1>Type</h1>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>Fonts</h2>
                            <h3>arial-1</h3>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_fonts.scss">_fonts.scss</a></p>
                            <p><span class="arial-1">The Quick Brown Fox Jumps Over the Lazy Dog.</span></p>
                            <h3>open-sans-1</h3>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_fonts.scss">_fonts.scss</a></p>
                            <p><span class="open-sans-1">The Quick Brown Fox Jumps Over the Lazy Dog.</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>Headings</h2>
                            <h3>heading-1</h3>
                            <p>markup: <a href="{{webRepo}}app/assets/markup/toolkit/heading-1.handlebars">heading-1.handlebars</a></p>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_headings.scss">_headings.scss</a></p>
                            {{>toolkit/heading-1 tag='span' title='The Quick Brown Fox Jumps Over the Lazy Dog.'}}
                            <h3>heading-2</h3>
                            <p>markup: <a href="{{webRepo}}app/assets/markup/toolkit/heading-2.handlebars">heading-2.handlebars</a></p>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_headings.scss">_headings.scss</a></p>
                            {{>toolkit/heading-2 tag='span' title='The Quick Brown Fox Jumps Over the Lazy Dog.'}}
                            <h3>heading-3</h3>
                            <p>markup: <a href="{{webRepo}}app/assets/markup/toolkit/heading-3.handlebars">heading-3.handlebars</a></p>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_headings.scss">_headings.scss</a></p>
                            {{>toolkit/heading-3 tag='span' title='The Quick Brown Fox Jumps Over the Lazy Dog.'}}
                            <h3>heading-4</h3>
                            <p>markup: <a href="{{webRepo}}app/assets/markup/toolkit/heading-4.handlebars">heading-4.handlebars</a></p>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_headings.scss">_headings.scss</a></p>
                            {{>toolkit/heading-4 tag='span' title='The Quick Brown Fox Jumps Over the Lazy Dog.'}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>Text</h2>
                            <h3>text-1</h3>
                            <p>markup: <a href="{{webRepo}}app/assets/markup/toolkit/text-1.handlebars">text-1.handlebars</a></p>
                            <p>style: <a href="{{webRepo}}app/assets/style/base/type/_text.scss">_text.scss</a></p>
                            {{>toolkit/text-1 tag='span' title='The Quick Brown Fox Jumps Over the Lazy Dog.'}}
                        </div>
                    </div>
                </section>
            </main>

            <hr>

            {{>toolkit/footer-1}}

        </div>

        {{> config/config}}
        {{> tags/script script='assets/script/global.compiled.js'}}

    </body>
</html>
