<!DOCTYPE html>
<html id="index" lang="en-us" dir="ltr" data-www="{{www}}" data-cdn="{{cdn}}" data-service="{{service}}" data-version="{{version}}" data-google-analytics-id="{{metrics.google-analytics.id}}">
    {{> tags/head}}
    <body>
        <a href="#main" class="accessibility-skip-to-element">skip to content</a>
        <header>
        </header>
        <main id="main" tabindex="-1">
            <a href="toolkit/">View Toolkit</a>
        </main>
        <footer>
        </footer>
        {{> tags/script script='media/script/app.compiled.js'}}
    </body>
</html>
