{{#if this.id}}<a id="{{this.id}}"{{#if this.class}} class="{{this.class}}"{{/if}}{{#if this.accessible-title}} aria-label="{{this.accessible-title}}"{{/if}}{{#if this.url}} href="{{#if this.type}}{{this.type}}:{{/if}}{{this.url}}"{{/if}}{{#if this.role}} role="{{this.role}}"{{/if}}{{#if this.tabindex}} tabindex="{{this.tabindex}}"{{/if}}>{{this.title}}</a>{{/if}}
