{{#if this.for}}<label for="{{this.for}}"{{#if this.id}} id="{{this.id}}"{{/if}}{{#if this.class}} class="{{this.class}}"{{/if}}{{#if this.accessible-title}} aria-label="{{this.accessible-title}}"{{/if}}>{{this.title}}</label>{{/if}}
